@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AustinNewsDeckWeb", sans-serif;
}

:root {
    font-size: 12px;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

