@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AustinNewsDeckWeb", sans-serif;
}

:root {
    font-size: 12px;
    --color-text: #1a1a1a;
    --color-bg: #fff;
    --color-link: #1a1a1a;
    --color-link-hover: #1a1a1a;
    --page-padding: 1.5rem;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: unset;
    outline: 0;
    border: 0.5px solid #000;
    cursor: pointer;
}

a {
    text-decoration: unset;
    color: inherit;
}

@media (scripting: enabled) {
    .loading {
        &::before,
        &::after {
            content: '';
            position: fixed;
            z-index: 10000;
        }

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--color-bg);
        }

        &::after {
            top: 50%;
            left: 50%;
            width: 100px;
            height: 2px;
            margin: 0 0 0 -50px;
            background: var(--color-link);
            animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
        }
    }
}

@keyframes loaderAnim {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    50% {
        transform: scaleX(1);
        transform-origin: 0 50%;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

