@charset "UTF-8";

@use "reset";
@use "fonts";

.--is-loaded {
    overflow: hidden;

    .grid {
        transition: transform 0.45s cubic-bezier(0.33, 1, 0.68, 1);
        cursor: grab;
    }
}

.--is-showing {
    opacity: 1;
}

.--is-details-showing {
    cursor: pointer;

    .grid {
        pointer-events: none;
    }
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform-origin: center center;
    will-change: transform;
}

.grid {
    display: flex;
    gap: 5vw;
    position: absolute;
    width: max-content;
    height: max-content;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5vw;

    &:nth-child(even) {
        margin-top: 10vw;
    }
}

.product {
    position: relative;
    width: 18.5vw;
    aspect-ratio: 4 / 5;

    div {
        width: 18.5vw;
        aspect-ratio: 4 / 5;
    }

    img {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        will-change: transform;
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 33vw;
    height: 100vh;
    padding: 3vw 4vw;
    background: #fafafa;
    transform: translate3d(66vw, 0, 0);

    [data-category],
    [data-scent],
    [data-ml],
    [data-note],
    [data-desc],
    [data-price] {
        display: none;
    }

    &_thumb {
        position: relative;
        z-index: 3;
        width: 20vw;
        aspect-ratio: 4 / 5;
        will-change: transform;

        div,
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_header {
    }

    &_body {
        .desc {
            //padding-right: 4.25vw;
            word-break: keep-all;
        }
    }
}
